.profile__edit-button {
  background-color: transparent;
  height: 24px;
  width: 24px;
  border: 1px solid #ffffff;
  margin-left: 18px;
}

.profile__edit-button:hover {
  filter: invert(0.5);
}

@media screen and (max-width: 600px) {
  .profile__edit-button {
    height: 18px;
    width: 18px;
  }
}
