.elements {
  margin: 50px auto;
  max-width: 880px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 21px 17px;
  justify-items: center;
}



@media screen and (max-width: 880px) {
  .elements {
    max-width: 581px;
  }
}
/*

  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));

@media screen and (max-width: 420px) {
  .elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 36px auto;
  }
}
